body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #818181;
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    z-index: 2;
    background: #3a3633;
    overflow-x: hidden;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
    padding-top: 30px;
}

.main-menu {
    width: 220px;
    padding-left: 0.5rem;
}

.main-menu li a{
    font-size: 14px;
    padding: 15px 15px 10px 15px;
    color: #c0bbb7;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
}

.main-menu ul li a:hover {
    color: #fff;
}

.main-menu .active .item-icon-collapse {
    transform: rotate(90deg);
}

.main-menu > li.active {
    background-color: #101113;
}

.sub-menu > li.active {
    background-color: #101113;
}

.sidebar-collapse {
    width: 66px;
}

.main-body-extend{
    margin-left: 80px;
}

.sub-menu {
    display: none;
    overflow: hidden;
}

.sub-menu li a {
    font-size: 12px;
}

span.nav-label {
    margin-left: 8px;
}

.item-icon-collapse  {
    font-size: 0.7rem;
    padding: 0.2rem 0;
    float: right;
}

ul.sub-menu {
    margin: 0;
    background: rgba(69,69,69,.6);
    padding: 7px 0;
}

ul.sub-menu a {
    padding-left: 40px;
}

.main-content {
    transition: .5s;
    margin-left: 250px;
}

.overlay {
    display: none;
    transition: all 0.5s;
}

#toggleButton {
    margin: 10px;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

#toggleButton:hover, #toggleButton:active {
    transition: all 0.5s;
}

.sidebar-collapse #toggleButton {
    transform: rotate(-180deg);
    transition: all 0.5s;
}

/* main-body */
.header {
    font-weight: 400;
    text-align: center;
}

.header-title{
    font-size: 70px;
    line-height: 90px;
}

.header-intro {
    font-style: italic;
    font-size: 14px;
    line-height: 18px;
    margin: 5px 10px 20px;
}

/* section panes */

.panes-title {
    font-size: 24px;
    text-align: left;
    margin-bottom: 10px;
}

.panes-text {
    margin: 0 0 15px;
}

@media (max-width: 767px) {
    .main-content {
        margin-left: 0px;
    }
    
    .header-title{
        font-size: 40px;
    }

    .panes-title {
        font-size: 18px;
    }

    .panes-text {
        font-size: 14px;
    }
    .overlay-mobile {
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .3);
		left: 0;
		top: 0;
		z-index: 1;
		display: block;
	}
}
