body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #818181;
}

.row::after {
    content: "";
    clear: both;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.img-fulid {
    max-width: 100%;
    height: auto;
}
  
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.d-flex {
    display: flex;
}

a, a:hover, a:active, a:focus, button:focus, .btn:focus, .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}

.fl-left {
    float: left;
}
.fl-right{
    float: right;
}
.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    z-index: 2;
    background: #3a3633;
    overflow-x: hidden;
    transition: all 0.5s;
    padding-top: 30px;
}

.navigation .closebtn,.navigation .openbtn {
    position: absolute;
    font-size: 20px;
    color: #818181;
    transition: all 0.5s;
}

.navigation .closebtn {
    top: 0;
    right: -4px;
}

.navigation .closebtn:hover, .navigation .openbtn:hover {
    color: #f1f1f1;
}

.navigation li a{
    font-size: 14px;
    padding: 10px 15px 10px 15px;
    color: #c0bbb7;
    display: block;
    font-weight: 400;
}

.navigation ul li a:hover {
    color: #fff;
}

.item-icon-collapse  {
    font-size: 0.7rem;
    padding: 0.2rem 0;
    float: right;
}

ul.sub-menu {
    margin: 0;
    background: rgba(69,69,69,.6);
    padding: 7px 0;
}

ul.sub-menu a {
    padding-left: 50px;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
    left: 105%;
    width: 336%;
    top: 37%;
}

.d-none {
    display: none;
    /* visibility: hidden; */
}

.d-block {
    display: block;
}

.main-content {
    transition: .5s;
    margin-left: 250px;
}

.bg-opacity {
    background: rgba(0,0,0,0.4);
}

.vsb-hidden{
    visibility: hidden;
}  

.overlay {
    display: none;
   transition: all 0.5s;
 
}

@media only screen and (max-width: 425px) {
    .main-content {
        margin-left: 0px;
    }

    .overlay { 
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 1;
        cursor: pointer;
        position: fixed;
    }
}

